<div class="navbar-fixed">
    <nav class="pink accent-4">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">LOVCAL</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-large-only">
                <li><a class="theme-switch" href="#" title="Switch to dark mode"><i
                            class="material-icons">dark_mode</i></a>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a class="theme-switch" href="#" title="Switch to dark mode"><i
                            class="material-icons">dark_mode</i></a>
                </li>
                <li><a href="./login.html" title="Login to Love Calculator Prank"><i
                            class="material-icons">login</i></a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- navbar start here -->

<ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
        <div class="user-view">
            <div class="background">
                <div class='air air1'></div>
                <div class='air air2'></div>
                <div class='air air3'></div>
                <div class='air air4'></div>
                <!-- </section> -->
            </div>
            <a href="#user"><img class="circle" src="https://materializeweb.com/images/yuna.jpg"></a>
            <a href="#name"><span class="black-text name">John Doe</span></a>
            <a href="#email"><span class="black-text email">jdoe@example.com</span></a>
        </div>
    </li>
    <li><a href="./index.html"><i class="material-icons">home</i>Home</a></li>
    <li><a href="#!"><i class="material-icons">info</i>About</a></li>
    <li><a href="#!"><i class="material-icons">contact_mail</i>Contact</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader"><i class="material-icons">auto_fix_high</i>Love Calculator Prank</a>
    </li>
    <li><a href="#!"><i class="material-icons">dashboard</i>Dashboard</a></li>
    <li><a href="./logout.html"><i class="material-icons">logout</i>Logout</a></li>
</ul>

<!-- navbar end here -->